<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devnics</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <%- include("partials/header.ejs") %>

    <section id="why-us">
        <div class="us-card">
            <svg xmlns="http://www.w3.org/2000/svg" width="57.136" height="80"  xmlns:v="https://vecta.io/nano"><defs><linearGradient id="A" x1=".5" x2=".5" y2="1"><stop offset="0" stop-color="#ff9e37"/><stop offset="1" stop-color="#f36621"/></linearGradient></defs><path d="M57.049 74.643l-.7-3.506c-.126-.635-.744-1.047-1.379-.921s-1.047.744-.921 1.379l.7 3.506a2.14 2.14 0 0 1-2.1 2.556h-6.813v-5.323a1.17 1.17 0 0 0-1.758-1.015 1.17 1.17 0 0 0-.586 1.015v5.322h-10.07L31.904 65.9l.784-2.305c.489.27 1.425 1.478 2.987 1a2.4 2.4 0 0 0 1.565-1.492l2.241-6.279 8.459 2.5v-.009c.163.06.344.112.869.266a5.74 5.74 0 0 1 3.713 4.34l.459 2.307c.126.635.743 1.048 1.378.921s1.048-.743.922-1.378l-.46-2.308c-.529-2.819-2.523-5.141-5.23-6.091-.073-.027.606.177-10.338-3.052l-3.217-2.179v-2.047a16.06 16.06 0 0 0 8.165-10.366c.913.453 1.985.456 2.901.009s1.573-1.294 1.778-2.293a6.58 6.58 0 0 0 2.193-9.611v-5.36C51.058 10.067 41.005.014 28.599 0c-4.967-.013-9.794 1.649-13.7 4.718a1.17 1.17 0 0 0 1.442 1.848 19.76 19.76 0 0 1 12.256-4.223c11.111.014 20.115 9.018 20.128 20.129V25.4a3.31 3.31 0 0 0-1.9-1.9v-1.027c.048-6.543-3.414-12.61-9.073-15.896s-12.644-3.286-18.303 0-9.122 9.353-9.073 15.896v1.021a3.31 3.31 0 0 0-1.9 1.9v-2.687a20.31 20.31 0 0 1 4.231-12.469c.394-.517.295-1.255-.222-1.649s-1.255-.295-1.649.222a22.63 22.63 0 0 0-4.716 13.9v5.125a6.58 6.58 0 0 0 2.193 9.611c.24 1.138 1.06 2.067 2.16 2.445a8.2 8.2 0 0 0 2.123 3.944 9.58 9.58 0 0 0 3.843 2.415 16.32 16.32 0 0 0 4.675 3.78v2.132l-3.173 2.146L7.633 57.35h0l-.076.03v-.008c-2.707.95-4.701 3.273-5.23 6.093l-2.243 11.3c-.255 1.287.08 2.62.913 3.634S3.073 80 4.385 80h11.311a1.17 1.17 0 1 0 0-2.344h-1.988v-5.322a1.17 1.17 0 1 0-2.344 0v5.322H4.385a2.04 2.04 0 0 1-2-2.437l2.243-11.3a5.74 5.74 0 0 1 3.714-4.34l9.355-2.76 2.239 6.289a2.38 2.38 0 0 0 1.568 1.492c1.374.418 2.113-.4 2.994-1.01l.79 2.332-1.515 11.734h-2.608a1.17 1.17 0 0 0-1.015 1.758 1.17 1.17 0 0 0 1.015.586h31.488a4.48 4.48 0 0 0 4.396-5.357zm-8.1-45.72a1.18 1.18 0 0 0 .076.1c1.275 1.585 1.243 3.852-.076 5.4zm-40.773.1c.027-.03.052-.062.076-.095v5.5c-1.319-1.548-1.351-3.815-.076-5.4zm4.324 7.755a.95.95 0 0 1-1.444.876.95.95 0 0 1-.456-.876v-10.2a.95.95 0 0 1 1.444-.876.95.95 0 0 1 .456.876zm24.836 19.076l-2.3 6.467c-.006.018-.021.032-.039.038s-.038.002-.053-.01l-2.141-1.588 2.683-6.163zm7.358-29.283a.95.95 0 0 1 1.444-.876.95.95 0 0 1 .456.876v10.2a.95.95 0 0 1-1.444.876.95.95 0 0 1-.456-.876zM12.87 39.789a2.85 2.85 0 0 0 .176-.085q.2.766.47 1.51a5.7 5.7 0 0 1-.646-1.425zm1.818-15.682c-.263.026-.52.089-.765.187a3.3 3.3 0 0 0-1.205-.8v-1.021c0-8.771 7.11-15.881 15.881-15.881s15.881 7.11 15.881 15.881v1.021c-.29.111-.563.263-.811.45l-.023-.022c-.02-.018-.04-.035-.062-.051l-5.055-3.936c-1.085-.889-2.565-1.125-3.873-.618-3.462 1.337-12.32 4.483-19.849 4.783a1.12 1.12 0 0 0-.12.007zm5.794 22.739h3.434a3.3 3.3 0 0 0 3.077 2.124h2.977a3.3 3.3 0 0 0 0-6.592h-2.977a3.3 3.3 0 0 0-3.077 2.122h-3.827c-.769.001-1.535-.096-2.279-.289a14.1 14.1 0 0 1-2.943-8.595v-9.165a.66.66 0 0 1 .068-.013l.079-.005c7.853-.339 16.933-3.557 20.486-4.931.541-.203 1.149-.094 1.587.282l5 3.895a1.24 1.24 0 0 1 .239.762v9.389a13.71 13.71 0 0 1-13.844 13.73 13.48 13.48 0 0 1-8-2.715zm5.554-1.172c.001-.526.426-.951.952-.952h2.977a.95.95 0 0 1 .89.95.95.95 0 0 1-.89.95h-2.977c-.524-.001-.949-.424-.952-.948zm-3.8 16.674c-.015.012-.035.015-.053.01s-.033-.02-.039-.038l-2.308-6.466 1.863-1.26c4.527 10.239-.129-.312 2.688 6.159zm1.224-9.886zm.026.063l-.026-.063v-1.41a15.8 15.8 0 0 0 5.137.852 16.21 16.21 0 0 0 5.091-.82v1.443l-3.116 7.447h-3.956zm7.159 9.794l-.779 2.29h-2.549l-.775-2.29zm-4.509 15.337l1.382-10.7h2.158l1.382 10.7z" fill="url(#A)"/></svg>          
            <p class="us-title">CONVENIENT</p>
            <p class="us-desc">Our fully custom and easy-to-use ticket system makes it highly convenient to get your project complete in no time!</p>
        </div>
        <div class="us-card">
            <svg xmlns="http://www.w3.org/2000/svg" width="60.657" height="80"  xmlns:v="https://vecta.io/nano"><defs><linearGradient id="A" x1=".5" x2=".5" y2="1"><stop offset="0" stop-color="#ff9e37"/><stop offset="1" stop-color="#f36621"/></linearGradient></defs><path d="M43.708 79.995c-.452-.044-.845-.326-1.031-.74l-8.94-19.943-1.173.715a4.28 4.28 0 0 1-4.471 0l-1.13-.69-8.93 19.919c-.186.415-.581.697-1.034.74l-.118.005a1.25 1.25 0 0 1-1.031-.54l-4.05-5.812-7.036.841a1.26 1.26 0 0 1-1.3-1.766L12.2 53.22l-1.291-.311a4.28 4.28 0 0 1-3.163-3.166L7 46.65a1.77 1.77 0 0 0-.682-1.018l-2.568-1.87c-1.308-.945-1.972-2.547-1.716-4.14l.494-3.139c.066-.415-.018-.841-.237-1.2l-1.66-2.719c-.841-1.372-.841-3.099 0-4.471l1.659-2.721c.219-.359.303-.785.237-1.2l-.494-3.141c-.256-1.593.408-3.195 1.716-4.14l2.571-1.87c.341-.249.582-.611.68-1.021l.748-3.092a4.28 4.28 0 0 1 3.163-3.163L14.008 7a1.76 1.76 0 0 0 1.015-.679l1.87-2.571a4.28 4.28 0 0 1 4.141-1.717l3.145.5c.416.065.841-.02 1.2-.24L28.094.63a4.28 4.28 0 0 1 4.471 0l2.72 1.659a1.77 1.77 0 0 0 1.2.237l3.142-.494a4.27 4.27 0 0 1 4.139 1.714l1.871 2.571A1.78 1.78 0 0 0 46.653 7l3.092.748a4.27 4.27 0 0 1 3.163 3.163l.751 3.1c.098.408.339.768.679 1.015l2.572 1.87a4.27 4.27 0 0 1 1.713 4.14l-.494 3.141c-.065.416.019.841.238 1.2l1.659 2.721a4.28 4.28 0 0 1 0 4.471l-1.659 2.721c-.219.359-.303.784-.238 1.2l.494 3.142a4.27 4.27 0 0 1-1.713 4.14l-2.574 1.87a1.79 1.79 0 0 0-.68 1.015l-.748 3.1a4.27 4.27 0 0 1-3.163 3.163l-1.244.3 8.747 19.515a1.26 1.26 0 0 1-1.3 1.766l-7.038-.841-4.047 5.8c-.236.338-.623.54-1.035.54-.041 0-.079 0-.12-.005zm-7.741-21.868l8.1 18.063 3.209-4.6c.267-.381.723-.585 1.185-.53l5.577.666-7.98-17.8c-.164.113-.307.254-.423.415l-1.871 2.568c-.165.228-.352.438-.559.628l4.209 9.389a1.26 1.26 0 0 1-1.275 1.803 1.26 1.26 0 0 1-1.025-.771l-4.182-9.329a4.19 4.19 0 0 1-1.306 0l-3.142-.494c-.088-.014-.178-.022-.267-.022a1.92 1.92 0 0 0-.25.014zM13.432 71.586l3.209 4.6 8.095-18.057a1.76 1.76 0 0 0-.561 0l-3.142.494a4.33 4.33 0 0 1-1.258.011L15.6 67.955c-.205.453-.655.744-1.152.745a1.26 1.26 0 0 1-1.148-1.776l4.191-9.353a4.26 4.26 0 0 1-.595-.663l-1.87-2.571c-.108-.146-.238-.275-.385-.382L6.674 71.722l5.573-.666c.05-.006.101-.01.151-.011a1.27 1.27 0 0 1 1.034.541zm13.253-15.372l2.721 1.659c.566.347 1.279.347 1.845 0l2.721-1.659a4.31 4.31 0 0 1 2.9-.576l3.142.494c.657.108 1.319-.166 1.708-.707l1.878-2.571a4.3 4.3 0 0 1 2.462-1.648l3.092-.748a1.76 1.76 0 0 0 1.306-1.3l.752-3.1a4.29 4.29 0 0 1 1.642-2.458l2.571-1.87c.54-.391.815-1.053.709-1.711l-.5-3.141c-.155-1.004.049-2.031.576-2.9l1.659-2.721a1.77 1.77 0 0 0 0-1.845l-1.659-2.721c-.526-.869-.729-1.896-.573-2.9l.494-3.141a1.76 1.76 0 0 0-.709-1.709l-2.571-1.87a4.29 4.29 0 0 1-1.643-2.471l-.747-3.1c-.157-.645-.663-1.147-1.308-1.3l-3.092-.751c-.99-.24-1.862-.825-2.461-1.649l-1.874-2.568a1.76 1.76 0 0 0-1.708-.71l-3.141.494a4.3 4.3 0 0 1-2.905-.576l-2.721-1.659c-.566-.347-1.279-.347-1.845 0l-2.721 1.66a4.29 4.29 0 0 1-2.9.576l-3.139-.494a1.77 1.77 0 0 0-1.711.707L17.062 7.8A4.29 4.29 0 0 1 14.6 9.449l-3.092.748A1.77 1.77 0 0 0 10.2 11.5l-.748 3.1A4.3 4.3 0 0 1 7.8 17.061l-2.571 1.87c-.538.392-.812 1.051-.709 1.709l.5 3.141c.156 1.004-.048 2.031-.576 2.9l-1.659 2.725a1.76 1.76 0 0 0 0 1.845l1.659 2.721a4.3 4.3 0 0 1 .573 2.9l-.494 3.141a1.77 1.77 0 0 0 .709 1.709L7.8 43.593a4.28 4.28 0 0 1 1.648 2.465l.752 3.092a1.76 1.76 0 0 0 1.3 1.308l3.1.748c.99.241 1.862.825 2.462 1.648l1.87 2.571a1.76 1.76 0 0 0 1.709.707l3.141-.494a4.58 4.58 0 0 1 .666-.052c.789 0 1.563.218 2.237.628zM16.3 48.3a1.26 1.26 0 0 1 .302-2.164 1.26 1.26 0 0 1 1.249.174 20.26 20.26 0 0 0 30.5-25.132 1.26 1.26 0 0 1 .571-1.667 1.26 1.26 0 0 1 1.681.529c4.789 9.508 2.355 21.065-5.861 27.834S24.716 54.82 16.3 48.3zm-4.023-4.023c-6.536-8.415-6.367-20.237.409-28.461S31.032 5.163 40.543 9.968c.622.316.87 1.075.554 1.697s-1.075.87-1.697.554a20.26 20.26 0 0 0-25.137 30.5 1.26 1.26 0 0 1-.24 1.746 1.26 1.26 0 0 1-1.751-.196zm24.718-.379l-6.666-3.731-6.669 3.726c-.775.434-1.732.377-2.451-.145s-1.068-1.415-.894-2.287l1.491-7.495-5.612-5.186c-.652-.604-.894-1.532-.619-2.377s1.017-1.453 1.9-1.556l7.584-.9 3.2-6.938a2.28 2.28 0 0 1 4.138 0l3.2 6.938 7.585.9c.883.103 1.625.711 1.9 1.556s.033 1.774-.62 2.377l-5.609 5.19 1.487 7.492c.131.668-.042 1.361-.473 1.888s-1.075.835-1.757.839a2.28 2.28 0 0 1-1.116-.296zm-6.052-6.277l6.824 3.818-1.524-7.667a1.25 1.25 0 0 1 .38-1.171l5.74-5.309-7.765-.92a1.27 1.27 0 0 1-1-.723l-3.273-7.1-3.275 7.1a1.26 1.26 0 0 1-1 .723l-7.764.92 5.749 5.308a1.26 1.26 0 0 1 .379 1.171l-1.523 7.667 6.82-3.818c.382-.215.849-.215 1.231 0zM45.46 16.906c-.278-.317-.57-.625-.868-.925a18.52 18.52 0 0 0-.926-.868 1.26 1.26 0 1 1 1.67-1.889 20.75 20.75 0 0 1 1.038.974 24.57 24.57 0 0 1 .977 1.037 1.26 1.26 0 1 1-1.892 1.671z" fill="url(#A)"/></svg>   
            <p class="us-title">REPUTABLE</p>
            <p class="us-desc">We have worked with many large servers such as SpaceDelta, and content creators like JeromeASF.</p>
        </div>
        <div class="us-card">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80"  xmlns:v="https://vecta.io/nano"><defs><linearGradient id="A" x1=".5" x2=".5" y2="1"><stop offset="0" stop-color="#ff9e37"/><stop offset="1" stop-color="#f36621"/></linearGradient></defs><path d="M38.9 79.63a4.269 4.269 0 0 1-2.5-3.259L34.872 66.5q-.288.057-.577.1a6.161 6.161 0 0 1-5.4-1.741l-13.75-13.75A6.217 6.217 0 0 1 13.4 45.7l.1-.572L3.632 43.6A4.28 4.28 0 0 1 .715 37l7.992-12.087a6.173 6.173 0 0 1 4.712-2.772l11.717-.9.184-.23A60.771 60.771 0 0 1 43.069 6.29C55.067.083 67.614-.256 74.03.094a6.216 6.216 0 0 1 5.876 5.877c.35 6.412.011 18.959-6.2 30.957A60.85 60.85 0 0 1 59 54.677l-.23.189-.908 11.717a6.189 6.189 0 0 1-2.777 4.717L43 79.287a4.265 4.265 0 0 1-2.364.713 4.315 4.315 0 0 1-1.736-.37zm.548-14.219l1.487 9.62L52.5 67.385a1.534 1.534 0 0 0 .686-1.165l.589-7.632a52.543 52.543 0 0 1-14.328 6.823zM18.021 46.476a1.52 1.52 0 0 0 .436 1.32l13.75 13.75a1.52 1.52 0 0 0 1.319.432 40.486 40.486 0 0 0 6.956-1.834L19.855 39.512a40.475 40.475 0 0 0-1.834 6.964zm27.2-36.022a55.923 55.923 0 0 0-16.3 13.554 54.662 54.662 0 0 0-7.1 10.85l23.318 23.315a53.626 53.626 0 0 0 10.85-7.094 55.931 55.931 0 0 0 13.558-16.3c5.7-11.011 6-22.612 5.678-28.548a1.538 1.538 0 0 0-1.453-1.456 60.37 60.37 0 0 0-3.247-.087 55.808 55.808 0 0 0-25.3 5.766zM13.779 26.815a1.517 1.517 0 0 0-1.162.682L4.971 39.063l9.62 1.491a52.53 52.53 0 0 1 6.82-14.329zM.688 79.315a2.347 2.347 0 0 1 0-3.315L15.4 61.288a2.343 2.343 0 1 1 3.313 3.312L4 79.315a2.344 2.344 0 0 1-3.312 0zm14.07-.048a2.345 2.345 0 0 1 0-3.314l7.653-7.653a2.343 2.343 0 0 1 3.314 3.314l-7.653 7.653a2.345 2.345 0 0 1-3.314 0zM.735 65.239a2.345 2.345 0 0 1 0-3.314l7.653-7.653A2.345 2.345 0 1 1 11.7 57.59l-7.651 7.649a2.337 2.337 0 0 1-3.314 0zm45.779-31.755a11.731 11.731 0 1 1 8.286 3.427 11.631 11.631 0 0 1-8.286-3.427zm3.314-13.256a7.041 7.041 0 1 0 4.972-2.056 6.992 6.992 0 0 0-4.972 2.056z" fill="url(#A)"/></svg>
            <p class="us-title">FAST</p>
            <p class="us-desc">With over 150 positive reviews, we strive to complete every commission on-time! When we said we promise to deliver, we meant it.</p>
        </div>
    </section>

    <section id="our-services">
        <h2>OUR SERVICES</h2>
        <div class="service-cards">
            <div class="service-card">
                <img src="https://i.imgur.com/G5rNpWl.png" alt="" width="50px" height="50px">
                <p class="service-title">Graphics</p>
                <p class="service-description">We provide amazing graphic services, from Illustration all the way to Vector Art, Texture Packs and Skin Design!</p>
            </div>
            <div class="service-card">
                <img src="https://i.imgur.com/G5rNpWl.png" alt="" width="50px" height="50px">
                <p class="service-title">Graphics</p>
                <p class="service-description">We provide amazing graphic services, from Illustration all the way to Vector Art, Texture Packs and Skin Design!</p>
            </div>
            <div class="service-card">
                <img src="https://i.imgur.com/G5rNpWl.png" alt="" width="50px" height="50px">
                <p class="service-title">Graphics</p>
                <p class="service-description">We provide amazing graphic services, from Illustration all the way to Vector Art, Texture Packs and Skin Design!</p>
            </div>
            <div class="service-card">
                <img src="https://i.imgur.com/G5rNpWl.png" alt="" width="50px" height="50px">
                <p class="service-title">Graphics</p>
                <p class="service-description">We provide amazing graphic services, from Illustration all the way to Vector Art, Texture Packs and Skin Design!</p>
            </div>
            <div class="service-card">
                <img src="https://i.imgur.com/G5rNpWl.png" alt="" width="50px" height="50px">
                <p class="service-title">Graphics</p>
                <p class="service-description">We provide amazing graphic services, from Illustration all the way to Vector Art, Texture Packs and Skin Design!</p>
            </div>
        </div>
    </section>

    <section id="testimonials">
        <h2>TESTIMONIALS</h2>
        <div class="testimonial-cards">
            <div class="testimonial">
                <img src="https://i.imgur.com/aKvhyZ4.png" alt="" width="50px" height="50px">
                <p class="testimonial-title">Ivanix</p>
                <p class="testimonial-comment">Absolutely amazing work completed by Devnics, would 100% purchase again.</p>
            </div>
            <div class="testimonial">
                <img src="https://i.imgur.com/aKvhyZ4.png" alt="" width="50px" height="50px">
                <p class="testimonial-title">Ivanix</p>
                <p class="testimonial-comment">Absolutely amazing work completed by Devnics, would 100% purchase again.</p>
            </div>
            <div class="testimonial">
                <img src="https://i.imgur.com/aKvhyZ4.png" alt="" width="50px" height="50px">
                <p class="testimonial-title">Ivanix</p>
                <p class="testimonial-comment">Absolutely amazing work completed by Devnics, would 100% purchase again.</p>
            </div>
            <div class="testimonial">
                <img src="https://i.imgur.com/aKvhyZ4.png" alt="" width="50px" height="50px">
                <p class="testimonial-title">Ivanix</p>
                <p class="testimonial-comment">Absolutely amazing work completed by Devnics, would 100% purchase again.</p>
            </div>
            <div class="testimonial">
                <img src="https://i.imgur.com/aKvhyZ4.png" alt="" width="50px" height="50px">
                <p class="testimonial-title">Ivanix</p>
                <p class="testimonial-comment">Absolutely amazing work completed by Devnics, would 100% purchase again.</p>
            </div>
        </div>
    </section>

    <section id="footer">
    </section>
</body>

</html>